<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册页面</title>
</head>
<body>

    <form th:action="@{/userRegister}" method="post">
        用户名：<input type="text" name="user" id="username"/><br/>
        密码：<input type="text" name="pass" id="password"/><br/>
        姓名：<input type="text" name="name" id="realname"/><br/>
        手机号：<input type="text" name="phone" id="phone"/><br/>
        收货地址：<input type="text" name="address" id="address"/><br/>
        图片：<input type="text" name="userphoto" id="userphoto"/><br/>
        <button type="submit" id="submit" class="submit_button" onclick="">注册</button>
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function check () {
            var username = document.getElementById('username').value;
            var userlen = username.length;
            var passlen = document.getElementById('password').value.length;
            var realname = document.getElementById('realname').value;
            var reallen = realname.length;
            var phone = document.getElementById('phone').value;
            var phonelen = phone.length;
            var addlen = document.getElementById("address").value.length;
            if(username===null||userlen===0){
                alert("用户名不能为空！");
                return false;

            }
            else if (!/^\w+$/.test(username)) {
                    alert("输入字符不合法！");
                    return false;
            }


            if(passlen===0){
                alert("密码不能为空！");
                return false;
            }
            else if(passlen>0&&passlen<6){
                alert("密码长度至少为六位！");
                return false;
            }
            if(realname===null||reallen===0){
                alert("姓名不能为空！");
                return false;
            }

            if(phone===null||phonelen===0){
                alert("手机号不能为空！");
                return false;
            }
            else if(phonelen>0&&phonelen<11||phonelen>11){
                alert("手机号长度为11位！");
                return false;
            }
           else if(phonelen===11){
                if(!/^[0-9]+$/.test(phone) ){
                    alert("手机号输入必须是数字！");
                    return false;
                }
            }
            if(addlen===0){
                alert("密码不能为空！");
                return false;
            }
            return true;
        }
        document.getElementById('submit').onclick = function (e) {
            return check();
        }

        /*]]>*/
    </script>

</body>
</html>